name: Triage and Remediation

permissions:
  contents: read
  id-token: write

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  triageAndRemediation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: AppSecAI
        uses: AppSecureAI/automation-action@v1
        with:
          file: results.sarif
